fieldset {
    margin: 1rem 0;
    padding: 1rem;
    border: solid 1px grey;
	max-width: 90vw;
}
legend {
font-weight: bold;
}
label
{
	margin: 0.5rem 0 0 0;
	display: flex;
	flex-direction: row;
    gap: 0.3rem;
    width: 65ch;
}

input,
textarea
{
	display: block;
	height: 2rem;
	width: 65ch;
	background-color: #fff;
	border: 2px solid #666;
	border-radius: 0;
	font-family: var(--sans);
	font-size: 1rem;
	line-height: 1.5rem;
    padding: 8px;
}

textarea
{
	min-height: 100px;
	resize: horizontal;
}

.fieldwork-form em { color: grey; }

input:focus,
textarea:focus { border: solid 2px var(--dark-green); }

button[type="submit"]
{
	background: var(--dark-green);
	color: #fff;
	font-family: var(--sans);
	font-weight: bold;
	padding: 0.7em 2em;
	font-size: 1.1em;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	margin: 1.5rem 0;
	transition: background 0.18s;
}

button[type="submit"]:hover { background: var(--lime-green); }