:root
{
	--white: rgb(255, 255, 255);
	--grey: rgb(100, 102, 106);
	--black: rgb(0, 0, 0);
	--orange: rgb(224, 173, 59);
	--text-color: rgb(0, 0, 0);
	--dark-green: rgb(43, 101, 65);
	--dark-green-50: rgb(125, 167, 141);
	--lime-green: rgb(149, 200, 70);
	--teal: rgb(67, 152, 164);
}

html
{
	height: 100%;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

*, *::before, *::after { box-sizing: inherit; }

body
{
	background-color: var(--background-color);
	height: 100%;
	padding: 0;
	overflow-x: hidden;
}

/* 
* { outline: 1px solid red; }
 */

.masthead
{
	background-color: var(--dark-green);
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin: 0;
	padding: 1rem 2rem;
}

@media (min-width: 800px)
{
	.masthead
	{
		flex-direction: row;
		justify-content: space-between;
	}
}

.banner
{
	background-image: url('../images/green-light-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	width: 100%;
	padding: 1rem;
	margin-bottom: 1rem;
}

.news
{
	background-color: var(--white);
	width: 100%;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat( auto-fit, minmax(min(280px, 90%), 1fr) );
	gap: 1.5rem;
	margin-inline: auto;
	margin-bottom: 1rem;
}

.news-item
{
	border: solid 2px lightgrey;
	border-radius: 10px;
	padding: 0.75rem;
}

.stats
{
	background-color: var(--white);
	width: 100%;
	margin-inline: auto;
	display: grid;
	justify-items: center;
}

.stats-grid
{
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat( auto-fit, minmax(min(280px, 90%), 1fr) );
	max-width: 90vw;
	margin-bottom: 1rem;
}

.satisfaction
{
	display: block;
	max-width: 60%;
}

.fieldwork
{
	background-image: url('../images/grey-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 1rem;
	margin: 0 auto;
}

.fieldwork article
{
	max-width: 80vw;
	margin: 0 auto;
}

.grads
{
	background-color: var(--orange);
	background-image: url('../images/orange-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
	margin: 0 auto;
	padding: 1rem 2rem;
}

.grads article
{
	width: 300px;
	padding: 1rem;
	background-color: white;
	border-radius: 10px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.grads article div:nth-of-type(1)
{
	flex: 1 1 33.33%;
	box-sizing: border-box;
	min-width: 250px;
}

.grads article img
{
	max-width: 250px;
	margin: 0;
}

.grads article div:nth-of-type(2)
{
	flex: 2 1 66.67%;
	box-sizing: border-box;
	padding: 10px;
	min-width: 200px;
}

.grads article div:nth-of-type(1)
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.grads ol
{
	max-width: 80vw;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 1rem;
	margin: 0 auto;
}

@media (min-width: 800px)
{
	.grads ol { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1280px)
{
	.grads ol { grid-template-columns: repeat(4, 1fr); }
}

.grads ol li
{
	align-self: start;
	background-color: white;
	aspect-ratio: 1 / 1;
	padding: 1rem;
	hyphens: none;
	color: black;
	border-radius: 10px;
	text-align: center;
}

.grads ol li img
{
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.sample-work
{
	background-image: url('../images/grey-dark-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
}

.sample-work-grid-container
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
	gap: 0.25rem;
	margin: 1rem auto;
}

.sample-work-grid-container img
{
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
	display: block;
	border: solid 1px black;
}

@media (min-width: 800px)
{
	.sample-work-grid-container
	{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
	}
}

@media (min-width: 1280px)
{
	.sample-work-grid-container
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
	}
}

.curriculum
{
	background-color: var(--white);
	width: 100%;
}

.curriculum div
{
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 auto;
	gap: 1rem;
}

@media (min-width: 800px)
{
	.curriculum div { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1280px)
{
	.curriculum div { grid-template-columns: repeat(3, 1fr); }
}

.faculty
{
	background-color: #ebebeb;
	padding: 2rem 2rem;
	background-image: url('../images/grey-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 1rem;
}

.faculty .person li
{
	border-radius: 20px;
	padding-bottom: 0.5rem;
}

.faculty .person li img
{
	width: 100%;
	height: auto;
	display: block;
	max-width: 100%;
	margin-bottom: 0.5rem;
	border-radius: 5px;
}

@media (min-width: 800px)
{
	.faculty ul.person { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1280px)
{
	.faculty ul.person { grid-template-columns: repeat(3, 1fr); }
}

.rgd
{
	background-color: var(--white);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	padding: 2rem 1rem;
	text-align: center;
}

.rgd-logo
{
	max-width: 260px;
	width: 100%;
}

.rgd-logo .svg
{
	display: block;
	width: 100%;
	height: auto;
}

@media (min-width: 800px)
{
	.rgd
	{
		flex-direction: row;
		text-align: left;
		align-items: flex-start;
	}
	
	.rgd-logo { flex: 0 0 auto; }
	.rgd-text { flex: 1 1 auto; }
}

@media (min-width: 1280px)
{
	
}

.portfolio-reqs
{
	background-color: #ebebeb;
	background-image: url('../images/grey-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	padding: 2rem 1rem;
	text-align: center;
}

.portfolio-reqs-logo
{
	max-width: 100px;
	width: 100%;
}

.portfolio-reqs-logo .svg { }

@media (min-width: 800px)
{
	.portfolio-reqs
	{
		flex-direction: row;
		text-align: left;
		align-items: flex-start;
	}
	
	.portfolio-reqs-logo
	{
		flex: 0 0 auto;
		max-width: 200px;
	}
	
	.portfolio-reqs-text { flex: 1 1 auto; }
	.portfolio-reqs-logo .svg { max-width: 100px; }
}

@media (min-width: 1280px)
{
	
}

.interested
{
	background-color: var(--orange);
	background-image: url('../images/orange-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.video { }

footer
{
	background-color: var(--dark-green);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 2rem;
}

.footer-content
{
	width: 90%;
	margin: 0 auto;
}

nav ul
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: start;
	padding-top: 1rem;
	border-top: 3px solid var(--lime-green);
}

footer ul.social, footer ul.resources
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
	padding: 1rem 0;
	border-top: 1px solid var(--lime-green);
}

footer ul.social li { }

.footer-copyright
{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	padding-top: 1rem;
	border-top: 1px solid var(--lime-green);
}

.footer-copyright div
{
	margin-right: 1rem;
	margin-top: 1rem;
}

@media (min-width:800px)
{
	nav ul { grid-template-columns: 1fr 1fr; }
	footer ul.social, footer ul.resources { justify-content: space-between; }
}

@media (min-width: 1280px)
{
	nav ul { grid-template-columns: repeat(3, 1fr); }
}
