:root
{
	--background-color: var(--white);
	--white: rgb(255, 255, 255);
	--grey: rgb(100, 102, 106);
	--black: rgb(0, 0, 0);
	--orange: rgb(224, 173, 59);
	--text-color: rgb(0, 0, 0);
	--dark-green: rgb(43, 101, 65);
	--dark-green-50: rgb(125, 167, 141);
	--lime-green: rgb(149, 200, 70);
	--teal: rgb(67, 152, 164);
}

html
{
	height: 100%;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body
{
	background-color: var(--background-color);
	height: 100%;
	margin: 0 auto 0 auto;
	padding: 0;
	overflow-x: hidden;
}

main
{
	margin: 0 auto;
	width: 100%;
	overflow-x: hidden;
}

footer
{
	background-color: var(--dark-green);
	display: flex;
	flex-direction: column;
	padding: 2rem 2rem;
	color: #fff;
}

.main-portfolio-reqs, .jobs-main { max-width: 80vw; }

.masthead
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	text-align: center;
	background-color: var(--dark-green);
	color: var(--white);
	padding: 1rem 2rem;
	box-sizing: border-box;
}

.masthead > div { margin: 0 auto; }

.banner
{
	background-image: url('../images/green-light-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 0rem 1rem;
	margin-bottom: 1.5rem;
}

.banner-content
{
	max-width: 80vw;
	display: flex;
	flex-direction: column;
}

.news
{
	display: grid;
	background-color: #fff;
}

.news-grid
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-self: center;
	align-self: start;
	gap: 1rem;
	max-width: 80vw;
	padding-top: 1rem;
	margin-bottom: 2rem;
}

.news-item
{
	border: solid 2px lightgrey;
	border-radius: 10px;
	padding: 0.75rem;
}

.post
{
	max-width: 80vw;
	margin: 0 auto;
}

.stats-grid
{
	display: grid;
	grid-template-columns: 1fr;
	max-width: 80vw;
	padding-top: 0;
	margin: 1rem 1rem;
	border: solid 1px magenta;
}

section.fieldwork
{
	background-image: url('../images/grey-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 1rem;
	margin: 0 auto;
}

section.fieldwork article
{
	max-width: 80vw;
	margin: 0 auto;
}

.grads
{
	background-color: var(--orange);
	background-image: url('../images/orange-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
	margin: 0 auto;
	padding: 1rem 2rem;
	color: white;
}

.grads article
{
	width: 300px;
	padding: 1rem;
	background-color: white;
	border-radius: 10px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.grads article div:nth-of-type(1)
{
	flex: 1 1 33.33%;
	box-sizing: border-box;
	min-width: 250px;
}

.grads article img
{
	max-width: 250px;
	margin: 0;
}

.grads article div:nth-of-type(2)
{
	flex: 2 1 66.67%;
	box-sizing: border-box;
	padding: 10px;
	min-width: 200px;
}

.grads article div:nth-of-type(1)
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.grads ol
{
	max-width: 60vw;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 1rem;
	margin: 0 auto;
}

.grads ol li
{
	align-self: start;
	background-color: white;
	aspect-ratio: 1 / 1;
	padding: 1rem;
	hyphens: none;
	color: black;
	border-radius: 10px;
	text-align: center;
}

.grads ol li img
{
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.sample-work
{
	background-image: url('../images/grey-dark-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
}

.sample-work-grid-container
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
	gap: 0.25rem;
	margin: 1rem auto;
}

.sample-work-grid-container img
{
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
	display: block;
	border: solid 1px black;
}

.grid-item img
{
	width: 100%;
	height: auto;
	display: block;
}

.curriculum div
{
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 auto;
	gap: 1rem;
}

.faculty
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 1rem;
	margin: 0 auto;
	background-color: #ebebeb;
	padding: 2rem 2rem;
	background-image: url('../images/grey-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
}

.faculty .person li
{
	border-radius: 20px;
	padding-bottom: 0.5rem;
}

.faculty .person li img
{
	width: 100%;
	height: auto;
	display: block;
	max-width: 100%;
	margin-bottom: 0.5rem;
	border-radius: 5px;
}

.rgd-wrapper
{
	background-color: #fff;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	justify-items: center;
	max-width: 100%;
	margin: 0 auto;
	padding: 1rem 0;
	color: #000;
}

.rgd { width: 90%; }
.rgd-logo { }

.rgd div svg
{
	width: 50%;
	height: auto;
}

.portfolio-reqs
{
	background-color: #EBEBEB;
	background-image: url('../images/grey-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	display: flex;
	justify-content: center;
	padding: 2rem;
	color: #000;
}

.portfolio-reqs-content
{
	display: flex;
	flex-direction: column;
}

.portfolio-reqs-questions { margin-bottom: 2rem; }

.main-portfolio-reqs ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
}

.main-portfolio-reqs li { overflow: hidden; }

.main-portfolio-reqs img
{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: solid 1px grey;
}

.interested
{
	background-color: var(--orange);
	background-image: url('../images/orange-bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 2rem;
	color: #000;
}

.content-box
{
	display: flex;
	flex-direction: column;
	max-width: 98vw;
	margin: 2rem auto;
	background: #fff;
}

.graphic-box
{
	background: #ccc;
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	min-width: 100px;
	max-width: 300px;
	padding: 0;
}

.text-box
{
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro, .fieldwork-highlights, .what-we-need, .fieldwork-form
{
	max-width: 80vw;
	margin: 0rem 2rem;
	padding: 0;
}

@media (min-width: 600px)
{
	.content-box
	{
		flex-direction: row;
		max-width: 80vw;
		object-fit: cover;
	}
	
	.graphic-box
	{
		flex: 1 1 25%;
		border: solid 1px cyan;
		object-fit: cover;
		margin-right: 2rem;
	}
	
	.text-box
	{
		flex: 1 1 50%;
		padding: 2rem;
	}
	
	.rgd-wrapper
	{
		background-color: #fff;
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		justify-items: center;
		max-width: 100%;
		margin: 0 auto;
		padding: 1rem 0;
		color: #000;
	}
	
	.rgd { width: 90%; }
	.rgd-logo { }
	
	.rgd div svg
	{
		width: 33.33%;
		height: auto;
	}
	
	.portfolio-reqs-content
	{
		max-width: 70vw;
	}
	
	.footer-copyright
	{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		align-content: center;
		justify-content: space-between;
	}
	
	.footer-copyright div { margin-top: 1rem; }
	
	nav ul, footer ul.social, footer ul.resources
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		list-style-type: none;
		padding: 1rem 0;
		margin: 0;
		gap: .5rem;
		border-bottom: solid 2px var(--lime-green);
	}
	
	nav ul li
	{
		padding: 0;
		margin: 0;
	}
	
	footer ul.resources { border-bottom: solid 2px var(--lime-green); }
}

@media (min-width: 768px)
{
	.banner { padding: 2rem; }
	
	.banner-content
	{
		max-width: 80vw;
		margin: 0 auto;
	}
	
	.grads ol
	{
		max-width: 80%;
		list-style: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	
	.curriculum div
	{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: 80%;
		margin: 0 auto;
		gap: 1rem;
	}
	
	.faculty ul.person
	{
		max-width: 70vw;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	
	.rgd-wrapper
	{
		background-color: #fff;
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		justify-items: center;
		max-width: 100%;
		margin: 0 auto;
		padding: 1rem 0;
		color: #000;
	}
	
	.rgd
	{
		width: 90%;
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
	
	.rgd-logo { }
	
	.rgd div svg
	{
		width: 90%;
		height: auto;
	}
	
	nav ul
	{
		display: grid;
		grid-template-columns: repeat(3, max-content);
	}
	
	nav ul, footer ul.social, footer ul.resources
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
	
	.sample-work-grid-container
	{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
	}
	
	.intro, .highlights, .employer, .fieldwork-form
	{
		max-width: 80vw;
		margin: 0rem 2rem;
		padding: 0;
	}
}

@media (min-width: 900px)
{
	.banner { padding: 2rem; }
	.banner-content { max-width: 80vw; }
	
	.masthead
	{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
		background-color: var(--dark-green);
		color: var(--white);
		padding: 1rem 2rem;
		box-sizing: border-box;
	}
	
	.masthead > div
	{
		flex: 0 1 auto;
		min-width: 200px;
	}
	
	.stats
	{
		display: grid;
		background-color: #fff;
		max-width: 100%;
	}
	
	.stats-grid
	{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		justify-self: center;
		gap: 2rem;
		max-width: 80vw;
		padding-top: 1rem;
		margin-bottom: 2rem;
	}
	
	.satisfaction
	{
		margin: 1rem auto;
		text-align: left;
		max-width: 60vw;
	}
	
	.grads ol
	{
		max-width: 80vw;
		list-style: none;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;
		margin: 0 auto;
	}
	
	.sample-work-grid-container
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
	}
	
	.curriculum
	{
		max-width: 80vw;
		margin: 0 auto;
		background-color: #fff;
		padding: 2rem 2rem;
	}
	
	.curriculum div
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin: 0 auto;
		gap: 1rem;
	}
	
	.faculty ul.person
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	
	.rgd
	{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-end;
		padding: 0;
		max-width: 70vw;
		gap: 1rem;
	}
	
	.rgd-logo
	{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 0;
		width: 400px;
	}
	
	.rgd div svg
	{
		width: 100%;
		height: auto;
	}
	
	nav ul
	{
		display: grid;
		grid-template-columns: repeat(3, auto);
		gap: .5rem;
	}
	
	footer ul.social, footer ul.resources
	{
		display: grid;
		grid-template-columns: repeat(5, auto);
		justify-content: space-between;
	}
	
	.intro, .highlights, .employer, .fieldwork-form
	{
		max-width: 80vw;
		margin: 0rem 2rem;
		padding: 0;
	}
}
