<section class="portfolio-reqs" id="portfolio-reqs" name="portfolio-reqs">
	<h2>
		{{site.data.portfolio.title}}
	</h2>
	<p>
		{{site.data.portfolio.desc | replace: '& ', '<abbr title="and">&amp;</abbr> '}} 
	</p>
	<p>
		{{site.data.portfolio.details | replace: '& ', '<abbr title="and">&amp;</abbr> '}} 
	</p>
	<p>
		<em>{{site.data.portfolio.questions}} <a href="mailto:{{site.data.portfolio.email}}?subject=Question%20about%20portfolio%20requirements">{{site.data.portfolio.email_text}}</a><span aria-hidden="true" role="presentation">.</span></em> 
	</p>
	<a href="{{site.data.portfolio.url}}" class="btn btn-dark-green">{{site.data.portfolio.button}}</a>
</section>
