<section class="sample-work" name="samplework">
	<h2>
		{{ site.data.sample-work.title }} 
	</h2>
	<p>
		{{ site.data.sample-work.desc }} 
	</p>
	<div class="sample-work-grid-container">
    {% for image in site.data.sample-work.images %}
      <a href="{{ image.url }}" target="_blank" class="grid-image" title="{{ image.title }} by {{ image.author }} ({{ image.year }})">
        <img src="/images/sample-work/{{ image.src }}" alt="{{ image.title }}">
      </a>
    {% endfor %}
    </div>
	<p>
		{{ site.data.sample-work.outro }} 
	</p>
</section>
